h1{
  text-align: center;
  font-family:sans-serif;
}

h3{
  text-align: center;
}
h2{
  text-align: center;
}
textarea{
  margin-top: 10px;
}
#output{
  width: 400px;
  height: 50px;
}
form class="myform" onsubmit="return getAkanName()">
  <label for="gender">
    <p>Select your gender: </p>
    Male
    <input id="male-input" type="checkbox" name="gender" value="male" required>
    Female
    <input id="female-input" type="checkbox" name="gender" value="female" required>
  </label>
