
.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 0 5px;
  height: 670px;
}

text{
  font-size: 20px;
  font-family: 'Khula', sans-serif;
}
.left{
  background-image: url("../savannah.jpg");
  background-size: center;
  height: 670px;
  border-radius: 10px 0 0 10px;
  margin: 0;
}
