body {
  background-image:url("../image.jpg");
}

.overlay{
  background-color:white;
  border-radius: 5px 0 0 5px;
  height: 670px;
}

text{
  font-size: 20px;
  font-family: 'Khula', sans-serif;
  color: black;
}
.left{
  background-size: center;
  height: 800px;
  border-radius: 10px 0 0 10px;
  margin: 0;
  width: 600px;
}
